html, body {
    height: 100%;
}

body {
    font-family: 'Georgia', sans-serif;
    color: #000000;
    background: #ffffff;
    background-image: linear-gradient(to right, #d7d7d7, #ffffff);
    background: rgba(226,226,226,1);
    background: -moz-linear-gradient(left, #d7d7d7 0%, rgba(219,219,219,1) 50%, rgba(209,209,209,1) 51%, #d7d7d7 100%);
    background: -webkit-linear-gradient(left, #d7d7d7 0%, #ffffff 50%, #ffffff 51%, #d7d7d7 100%);
    background: -o-linear-gradient(left, #d7d7d7 0%, #ffffff 50%, #ffffff 51%, #d7d7d7 100%);
    background: -ms-linear-gradient(left, #d7d7d7 0%, #ffffff 50%, #ffffff 51%, #d7d7d7 100%);
    margin: 0;
    padding: 0;
}

a {
    color: #2e99e5;
}

body > section {
    padding: 2.5rem 3rem;
}

header {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.75rem 3rem;
    background: #fdc619;
    color: #ffffff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
}

#page-title {
    font-size: 2rem;
    line-height: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 1.5rem;
    border-bottom: 3px dotted;
}

#page-title.page-error-title {
    color: #e50000;
}

#page-content form > div {
    margin-bottom: 1rem;
}

#page-content form label {
    display: block;
    text-transform: uppercase;
    font-size: 0.75rem;
    font-family: sans-serif;
    font-weight: bold;
}

#page-content form input {
    width: 25rem;
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    background: #ffffff;
    border: 1px solid #cccccc;
}

#page-content form button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
}