html {
    padding-top: 2.5rem;
    box-sizing: border-box;
}

#block_main-menu {
    top: 2.5rem !important;
}

#block_lang-switcher {
    top: 3.4rem !important;
}

#admin-bar {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 9999;
	background: #fdc619;
	padding: 0.75rem 3em;
	color: #000000;
	font-family: sans-serif;
	height: 1rem;
	line-height: 1rem;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.5);
}

#admin-bar ul {
	font-size: 0.9rem;
	list-style: none;
	margin: 0;
	padding: 0;
}

#admin-bar ul li {
	float: left;
    padding: 0;
	line-height: 1rem;
	height: 1rem;
    margin: 0 0 0 1rem;
}

#admin-bar ul li:nth-child(2) {
	margin-left: 0;
}

#admin-bar ul li#admin-bar-logout {
	float: right;
	margin-left: 0;
}

#admin-bar a {
	color: inherit;
}

#admin-bar a:hover {
	text-decoration: none;	
}