html, body {
    height: 100%;
}

body {
    font-family: 'Georgia', sans-serif;
    color: #000000;
    background: #ffffff linear-gradient(to right, #d7d7d7, #ffffff);
    background-image: -moz-linear-gradient(left, #d7d7d7 0%, #ffffff 50%, #ffffff 51%, #d7d7d7 100%);
    background-image: -webkit-linear-gradient(left, #d7d7d7 0%, #ffffff 50%, #ffffff 51%, #d7d7d7 100%);
    background-image: -o-linear-gradient(left, #d7d7d7 0%, #ffffff 50%, #ffffff 51%, #d7d7d7 100%);
    background-image: -ms-linear-gradient(left, #d7d7d7 0%, #ffffff 50%, #ffffff 51%, #d7d7d7 100%);
}

a {
    color: #2e99e5;
}

.navigation {
    margin-top: 0.8rem;
}

.block-title {
    font-size: 1.6rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px dotted;
    padding-bottom: 0.25rem;
}

.paginator-arrow {
    margin-top: 1rem;
    border-top: 1px dotted;
    padding-top: 0.5rem;
}

/* Header */

#header-wrapper {
    position: relative;
    height: 35rem;
    background: #669dd3 url('image.jpg') 50% 50% no-repeat;
    background-size: cover;
    border-bottom: 10px solid #fdc619;
}

#header-wrapper header {
    position: absolute;
    width: 60%;
    left: 20%;
    bottom: 1.75rem;
    max-width: 1200px;
}

#header-wrapper header #block_sitename {
    font-size: 2.5rem;
    margin-bottom: 1.25rem;
    color: #fdc619;
    text-align: center;
}

#header-wrapper header #block_sitename a {
    color: inherit;
    text-decoration: none;
    text-shadow: 0 2px 3px rgba(0, 0, 0, 0.5);
}

#header-wrapper header #block_slogan {
    border-top: 10px solid #ffffff;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    padding: 1rem 1.25rem;
    min-height: 4rem;
    box-shadow: 0 0 4rem rgba(255, 255, 255, 0.5);
}

#header-wrapper header #block_slogan .text p {
    margin-top: 0;
    margin-bottom: 0;
}

#header-wrapper header #block_slogan .text p:first-child {
    margin-top: 0;
}

#header-wrapper header #block_slogan a {
    color: inherit;
}

/* Menu */

#block_main-menu {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 0;
    right: 0;
    padding: 0 3rem;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.85);
    text-transform: uppercase;
    line-height: 1rem;
    box-shadow: 0 -5px 0 #000000 inset;
}

#block_main-menu > nav > ul {
    display: flex;
}

#block_main-menu ul li a {
    color: #ffffff;
    padding: 3rem 1.5rem 1rem 1.5rem;
    display: block;
    text-decoration: none;
    border-bottom: 5px solid #000000;
}

#block_main-menu ul li a.selected {
    border-color: #ffffff;
}

#block_main-menu > nav > ul > li ul {
    display: none;
    background: rgba(0, 0, 0, 0.7);
    font-size: 0.8rem;
    position: absolute;
    margin-left: 0;
}

#block_main-menu > nav > ul > li:hover ul {
    display: block;
}

#block_main-menu > nav > ul > li ul li {
    border-bottom: 1px dotted #ffffff;
}

#block_main-menu > nav > ul > li ul li:last-child {
    border-bottom: 0;
}

#block_main-menu > nav > ul > li ul li a {
    padding: 1rem;
    border-bottom: 0;
    border-left: 5px solid #000000;
}

#block_main-menu > nav > ul > li ul li a.selected {
    border-color: #ffffff;
}

/* Lang switcher */

#block_lang-switcher {
    top: 0.9rem;
    right: 0.75rem;
    position: fixed;
    z-index: 111;
}

#block_lang-switcher > ul > li {
    margin-bottom: 0.4rem;
    text-indent: -10000px;
    width: 1.5rem;
    height: 0.9rem;
}

#block_lang-switcher > ul > li > a {
    display: block;
    width: 100%;
    height: 100%;
    background: #ffffff 50% 50% no-repeat;
    background-size: cover;
}

#block_lang-switcher > ul > li > a.selected {
    opacity: 0.8;
}

/* Search form */

#block_search-form {
    float: right;
    width: 25%;
    height: 2rem;
}

#block_search-form form {
    position: relative;
    width: 100%;
}

#block_search-form form > div {
    position: absolute;
}

#block_search-form form > div.orange-forms-field-input-search {
    width: 100%;
}

#block_search-form form > div.orange-forms-field-button-submit {
    right: 0;
}

#block_search-form form > div > input {
    line-height: 1.6rem;
    padding: 0 1.8rem 0 0.6rem;
    height: 1.6rem;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    color: #000000;
    background: #ffffff;
    border-radius: 5rem;
    overflow: hidden;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
}

#block_search-form form > div > input:focus {
    box-shadow: 0 0 1rem #fdc619;
}

#block_search-form form > div > input::-webkit-input-placeholder,
#block_search-form form > div > input::-moz-placeholder,
#block_search-form form > div > input:-ms-input-placeholder {
    color: #74787a;
}

#block_search-form form > div > button {
    margin: 0;
    padding: 0;
    margin-right: 0.2rem;
    background: transparent url('icon-search.png') 50% 50% no-repeat;
    background-size: contain;
    text-indent: -10000px;
    overflow: hidden;
    border: 0;
    cursor: pointer;
    line-height: 1.6rem;
    width: 1.6rem;
    height: 1.6rem;
}

/* Search results */

p.search-info {
    margin-bottom: 1.5rem;
}

ol.search-results {
    list-style: decimal outside;
    margin-left: 2rem;
}

ol.search-results li {
    margin-bottom: 1rem;
    line-height: 1.1rem;
}

ol.search-results li a.search-url {
    font-size: 0.9rem;
    color: #74787a;
}

/* Menu */

/* Body */

div#content-wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
}

section#body {
    padding: 2.5rem 0 3rem 0;
    text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.75);
}

section#body.with-aside {
    width: 65%;
    padding-right: 0;
    box-sizing: border-box;
}

section#body h1 {
    font-size: 2.5rem;
    line-height: 2.5rem;
    margin-bottom: 1.5rem;
    margin-left: -0.0775em;
}

/* Aside */

#content-wrapper > aside {
    width: 35%;
    box-sizing: border-box;
    padding: 2.5rem 0 3rem 2rem;
}

#content-wrapper > aside > div.block {
    margin-bottom: 2rem;
}

#content-wrapper > aside > div.block:last-child {
    margin-bottom: 0;
}

/* Footer */

footer {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    border-top: 5px solid #000000;
    padding: 1.25rem 0;
    clear: both;
    font-size: 0.85rem;
}

footer #block_copyrights li {
    margin-bottom: 0.25rem;
}

footer #block_copyrights li:last-child {
    margin-bottom: 0;
}

/* News Module */

.news-excerpt {
    margin-bottom: 1.25rem;
    font-style: italic;
}

.news-image {
    margin-bottom: 1.25rem;
}

.news-image img {
    max-width: 100%;
}

.news-block li {
    margin-top: 0.5rem;
}

/* Form */

.orange-forms-form .orange-forms-field {
    margin-bottom: 0.5rem;
}

.orange-forms-form .orange-forms-field:last-child {
    margin-bottom: 0;
}

.orange-forms-form .orange-forms-field label {
    font-weight: bold;
    width: 9rem;
    padding-right: 1rem;
    display: inline-block;
    vertical-align: top;
    line-height: 1.4rem;
}

.orange-forms-form .orange-forms-field input,
.orange-forms-form .orange-forms-field select,
.orange-forms-form .orange-forms-field textarea {
    width: 20rem;
    vertical-align: top;
}

.orange-forms-form .orange-forms-field textarea {
    height: 8rem;
}

.orange-forms-form .orange-forms-field-button {
    margin-left: 10rem;
}

/* Adaptive styles for width less than 960 px */

@media all and (max-width: 959px) {

    #header-wrapper {
        padding: 3rem 10%;
        height: auto;
    }

    #header-wrapper header {
        left: 0;
        width: 100%;
        position: static;
    }

    #block_search-form {
        float: none;
        width: 100%;
        margin-bottom: 0.5rem;
    }

    #block_search-form form > div > input {
        box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
    }

    #block_main-menu {
        position: static;
        padding: 0;
        box-shadow: 5px 0 0 #000000 inset;
        box-shadow: none;
        text-transform: none;
    }

    #block_main-menu > nav > ul {
        display: block;
    }

    #block_main-menu > nav > ul > li {
        border-bottom: 1px dotted #ffffff;
    }

    #block_main-menu > nav > ul > li:last-child {
        border-bottom: 0;
    }

    #block_main-menu > nav > ul > li a {
        border-bottom: 0;
        padding: 1rem 1.5rem 1rem 10%;
    }

    #block_main-menu > nav > ul li a.selected {
        box-shadow: 5px 0 0 #ffffff inset;
    }

    #block_main-menu > nav > ul > li ul {
        display: block;
        position: static;
        padding: 0.75rem 1rem 0.75rem 10%;
        background: rgba(255, 255, 255, 0.1);
    }

    #block_main-menu > nav > ul > li ul li {
        border-bottom: 0;
        display: inline-block;
    }

    #block_main-menu > nav > ul > li ul li a {
        border-left: 0;
        display: inline;
        padding: 0;
    }

    #block_main-menu > nav > ul > li ul li a.selected {
        box-shadow: none;
        color: #fdc619;
    }

    #block_main-menu > nav > ul > li ul li:after {
        content: '/';
        display: inline-block;
        color: #ffffff;
        margin: 0 0.45rem 0 0.55rem;
    }

    #block_main-menu > nav > ul > li ul li:last-child:after {
        display: none;
    }

    .orange-forms-form .orange-forms-field label {
        display: block;
    }

    .orange-forms-form .orange-forms-field-button {
        margin-left: 0;
    }

}


/* Adaptive styles for width less than 800 px */

@media all and (max-width: 799px) {

    div#content-wrapper {
        display: block;
    }

    section#body.with-aside {
        width: 100%;
    }

    #content-wrapper > aside {
        width: 100%;
        padding-top: 0;
        padding-left: 0;
        padding-bottom: 2rem;
    }

}