html, body {
    height: 100%;
}

body {
	font-family: 'Georgia', sans-serif;
	color: #2e3133;
	background: #edf1f4;
}

a {
	color: #56b1f2;
}

.navigation {
    margin-top: 0.8rem;
}

.block-title {
    font-size: 1.6rem;
    margin-bottom: 0.25rem;
    border-bottom: 1px dotted;
    padding-bottom: 0.25rem;
}


/* Header */

header {
	color: #edf1f4;
	background: #2e3133;
}

header {
	position: relative;
	height: 5.2rem;
	font-size: 1rem;
	box-shadow: 0 -3px 0 0 rgba(0,0,0,0.35) inset;
}

header > * {
	position: absolute;
}


/* Sitename */

#block_sitename {
	color: #fdc619;
	font-size: 2.8rem;
	display: inline-block;
	box-shadow: 0 -3px 0 0 #fdc619 inset;
	line-height: 4.2rem;
    left: 2rem;
    bottom: 0;
    padding: 0 0.25rem;
}

#block_sitename a {
	color: inherit;
	text-decoration: none;	
}


/* Top-section */

section#top-section {
	height: 24rem;
	background: #fdc619 url('image.jpg') 50% 50% no-repeat;
	background-size: cover;
	box-shadow: 0 0 5.2rem 0 rgba(0,0,0,0.75) inset;
	position: relative;
}


/* Slogan */

section#top-section #block_slogan {
	position: absolute;
	left: 1.5rem;
	top: 5.2rem;
}

section#top-section #block_slogan > span {
	display: inline-block;
	font-size: 2.5rem;
	line-height: 1rem;
	height: 1rem;
	padding: 0.25rem;
	background: rgba(253,198,25,0.75);
	font-style: italic;
}


/* Lang switcher */

#block_lang-switcher {
    top: 1.25rem;
    right: 2rem;
	opacity: 0.75;
}

#block_lang-switcher > ul > li {
	float: left;
	margin-left: 0.4rem;
	text-indent: -10000px;
	width: 1.5rem;
	height: 0.9rem;
}

#block_lang-switcher > ul > li > a {
	display: block;
	width: 100%;
	height: 100%;
	background: #ffffff 50% 50% no-repeat;
	background-size: cover;
}


/* Search form */

#block_search-form {
	position: absolute;
    width: 25%;
    height: 1.5rem;
    right: 2rem;
    bottom: 1.25rem;
}

#block_search-form form {
	position: relative;
    width: 100%;
}

#block_search-form form > div {
	position: absolute;
}

#block_search-form form > div.form-element-input-wrapper {
    width: 100%;
}

#block_search-form form > div.form-element-button-wrapper {
    right: 0; 
}

#block_search-form form > div > input {
    line-height: 2rem;
    padding: 0 2.2rem 0 0.5rem;
    height: 2rem;
    border: 0;
    box-sizing: border-box;
    width: 100%;
    color: #edf1f4;
    background: #44474a;
}

#block_search-form form > div > input::-webkit-input-placeholder,
#block_search-form form > div > input::-moz-placeholder,
#block_search-form form > div > input:-ms-input-placeholder {
	color:#74787a;
}

#block_search-form form > div > button {
	margin: 0;
	padding: 0;
	background: transparent url('icon-search.png') 50% 50% no-repeat;
	background-size: contain;
	text-indent: -10000px;
	overflow: hidden;
	border: 0;
	cursor: pointer;
    line-height: 2rem;
    width: 2rem;
    height: 2rem;
}


/* Search results */

p.search-info {
    margin-bottom: 1.5rem;
}

ol.search-results {
    list-style: decimal outside;
    margin-left: 2rem;
}

ol.search-results li {
    margin-bottom: 1rem;
    line-height: 1.1rem;
}

ol.search-results li a.search-url {
    font-size: 0.9rem;
    color:#74787a;
}


/* Menu */

section#sub-header {
	color: #edf1f4;
	background: #2e3133;
	padding: 0 2.5rem;
	box-shadow: 0 3px 0 0 rgba(0,0,0,0.35) inset;
}

div#block_main-menu > nav {
	font-size: 1.1rem;
	line-height: 1.1rem;
}

div#block_main-menu > nav > ul > li {
	display: inline-block;	
	margin-left: 0.5rem;
	vertical-align: top;
}

div#block_main-menu > nav > ul > li:first-child {
	margin-left: -0.5rem;
}

div#block_main-menu > nav > ul > li > a {
	display: block;
    padding: 1em 0.5rem;
}

div#block_main-menu > nav > ul > li > a:hover {
	color: #edf1f4;
	box-shadow: 0 3px 0 0 #edf1f4 inset;
}

div#block_main-menu > nav > ul > li > a.selected,
div#block_main-menu > nav > ul > li > a:active {
	color: #edf1f4;
	background: #44474a;
	box-shadow: 0 0.2rem 0 0 #fdc619 inset;
}

div#block_main-menu > nav > ul > li > ul {
    display: none;
}

div#block_main-menu > nav > ul > li:hover > ul {
    display: block;
    margin: 0;
    position: absolute;
    z-index: 9;
    background: #2e3133;
}


div#block_main-menu > nav > ul > li:hover > ul > li > a {
    display: block;
    font-size: 0.9rem;
    padding: 1rem 1.5em;
}

div#block_main-menu > nav > ul > li:hover > ul > li > a:hover {
    color: #ffffff;
}

div#block_main-menu > nav > ul > li:hover > ul > li > a.selected,
div#block_main-menu > nav > ul > li:hover > ul > li > a:active {
    color: #ffffff;
    background: #44474a;
}


/* Body */

section#body {
	padding: 2.5rem 2.5rem 3rem 2.5rem;
	text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
    min-height: 18rem;
}

section#body.with-aside {
    width: 65%;
    padding-right: 0;
    box-sizing: border-box;
    float: left;
}

section#body h1 {
	font-size: 2.5rem;
	line-height: 2.5rem;
	margin-bottom: 1.5rem;
    margin-left: -0.0775em;
}


/* Aside */

aside {
    padding: 2.5rem 2.5rem 3rem 2.5rem;
    text-shadow: 1px 1px 0 rgba(255,255,255,0.75);
    width: 35%;
    box-sizing: border-box;
    margin-left: 65%;
}

aside .content-block {
    margin-bottom: 1.5rem;
}

aside .content-block:last-child {
    margin-bottom: 0;
}


/* Footer */

footer {
	color: #edf1f4;
	background: #2e3133;
	padding: 1.25rem 2.25rem;
    clear: both;
}


/* News Module */

.news-excerpt {
    margin-bottom: 1.25rem;
    font-style: italic;
}

.news-image {
    margin-bottom: 1.25rem;
}

.news-image img {
    max-width: 100%;
}

.news-block li {
    margin-top: 0.5rem;
}


/* Adaptive styles for width less than 640 px */

@media all and (max-width: 639px) {

    header {
        height: 9rem;
    }

    #block_sitename {
        font-size: 2.4rem;
        line-height: 4rem;
        left: 2rem;
        right: 2rem;
        text-align: center;
    }

    #block_search-form {
        position: absolute;
        width: auto;
        height: 1.5rem;
        right: 2rem;
        bottom: 4.5rem;
        left: 2rem;
    }

    #block_lang-switcher > ul > li {
        width: 2.4rem;
        height: 1.6rem;
        margin-left: 0.6rem;
    }

    #block_lang-switcher {
        top: 0.7rem;
    }

    section#top-section {
        height: 16rem;
    }

    div#block_main-menu > nav > ul > li,
    div#block_main-menu > nav > ul > li:first-child {
        margin-left: 0;
    }

    div#block_main-menu > nav > ul > li:hover > ul {
        position: static;
    }

    div#block_main-menu > nav > ul > li:hover > ul > li > a {
        font-size: 1rem;
        padding: 1rem 0;
    }

    section#sub-header {
        padding: 0 2rem;
    }

    div#block_main-menu > nav > ul > li {
        display: block;
        text-align: center;
    }

    section#body {
        padding: 2rem 2rem 3rem 2rem;
        min-height: 9rem;
    }

    section#body h1 {
        font-size: 2rem;
        line-height: 2rem;
        margin-bottom: 1.25rem;
    }

    section#body.with-aside {
        width: auto;
        float: none;
        padding-right: 2rem;
        padding-bottom: 2rem;
    }

    aside {
        width: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
        margin-left: 0;
        border-top: 1px dotted;
    }

    footer {
        font-size: 0.8rem;
        padding: 1.25rem 2rem;
    }

}